@mixin size($width: null, $height: null) {
  @if $width !=null {
    width: $width;
  }
  @if $height !=null {
    height: $height;
  }
}

@mixin fill {
  width: 100%;
  height: 100%;
}

@mixin fill-parent {
  width: 100%;
  height: 100%;
}

@mixin fill-screen-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin fill-screen-absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@mixin cover-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include fill;
}

@mixin center-to-parent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-to-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}